body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sketch {
    background-color: darkgray;
    height: 512px;
    width: 512px;
    margin: 3em 0 3em 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.square{
    height: 124px;
    width: 124px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}