body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
}


#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sketchArea{
    border: 2px solid black;
    height: 512px;
    width: 512px;
    box-sizing: border-box;
}

#resetButton{
    margin: 1em;
    height: 6em;
    width: 12em;
    border-radius: 2em;
}

#pixel{
    border: 1px solid black;
    
}